
EX1_JUNIT/JUNIT_ES2_Exercicio/
Ficha JUnit 2ªtentativa/.idea/workspace.xml
FP 3 WorkSchedule/.idea/.name
FP 3 WorkSchedule/.idea/vcs.xml
FP 3 WorkSchedule/.idea/.name
FP 3 WorkSchedule/.idea/workspace.xml
JUNIT_ES2_Exercicio/
FP 3 WorkSchedule/.idea/.name
TriangleTests/Considerações.txt
FP 3 WorkSchedule/.idea/workspace.xml
FP 3 WorkSchedule/.idea/.name
*.xml
